<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaffleTools YTDL Issues</title>
    <link rel="stylesheet" href="../assets/main.css">
</head>

<body>
    <h1 class="h">YouTube to MP3/MP4 ・ WaffleTools</h1>
    <h3 class="h">by okawaffles. no ads, trackers, or unwanted downloads!</h3>
    <hr>
        <h1 class="h centered">Having Issues? Getting Cloudflare 502 (Bad Gateway) Errors?</h1><br><br><br><br>
        <h3 class="h centered">Sometimes things don't go according to plan. The libraries used to download and convert YouTube videos sometimes need updating.</h3><br><br><br><br>
        <h3 class="h centered">If you're getting these errors, please email oka[at]waffle.moe and let me know. I'll update the libraries and get back to you when the site works.</h3><br><br><br><br>
        <h3 class="h centered">If you need a YouTube downloader right away, you can use https://ytmp3.cc. Please be warned that this site has many ads and tries to download unwanted things, though.</h3><br><br><br><br>

    <footer>
        <button class="button" onclick="window.location = '../'">Back</button>
    </footer>
</body>

</html>