<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaffleTools</title>
    <link rel="stylesheet" href="./assets/main.css">
</head>

<body>
    <h1 class="h">WaffleTools</h1>
    <h3 class="h">by okawaffles. no ads, trackers, or unwanted downloads!</h3>
    <hr>
    <div class="imain">
        <button class="button wlarge" onclick="window.location = './ytdl'">YouTube Downloader</button><br>
    </div>

    <footer>
        <h3>2022-2023 okawaffles ・ ver: <%=version%> ・ free forever</h3>
    </footer>
</body>

</html>