<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waffletools YTDL</title>
    <link rel="stylesheet" href="./assets/main.css">
</head>

<body>
    <h1 class="h">Waffletools</h1>
    <h3 class="h">by okawaffles. no ads, trackers, or malware for you!</h3>
    <hr>
    <div class="imain">
        <button class="button wlarge" onclick="window.location = './ytdl'">YouTube Downloader</button><br>
    </div>

    <footer>
        <p>i made it for free, you use it for free.</p>
    </footer>
</body>

</html>