<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waffletools YTDL</title>
    <link rel="stylesheet" href="./assets/main.css">
</head>

<body>
    <h1 class="h">Waffletools</h1>
    <h3 class="h">by okawaffles. no ads, trackers, or malware for you!</h3>
    <hr>
    <div class="main">
        <form class="ytdl" method="POST" action="/ytdl">
            <input class="link" name="link" type="text" placeholder="YouTube URL">
            <p><input type="checkbox" name="include_video">Include Video? (Low quality due to technical restrictions)</p>
            <input class="button" type="submit" value="Download">
        </form>
    </div>
</body>

</html>